#hoverLabel {
	position: absolute;
	padding: 0 5px;
	line-height: 30px;
	border-radius: 10px;
	padding-left: 15px;
	padding-right: 15px;
	display: none;
	z-index: 1000;
	font-family: "poppins-medium";
	font-size: 13px;
	text-align: center;
	border-radius: "10px";
	white-space: nowrap;
	color: #000000;
}
#clickLabel1 {
	position: absolute;
	right: 50px;
	margin: 20px;
	margin-top: 46px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 50px;
	display: none;
	z-index: 1000;
	font-family: "poppins-light";
	font-size: 13px;
	text-align: left;
	border-radius: "10px";
	white-space: nowrap;
	color: #d1d1d1;
}

#clickLabel2 {
	position: absolute;
	right: 50px;
	margin: 20px;
	margin-top: 46px;

	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 50px;
	display: none;
	z-index: 1000;
	font-family: "poppins-light";
	font-size: 13px;
	text-align: left;
	border-radius: "10px";
	white-space: nowrap;
	color: #d1d1d1;
}
#resetLabel {
	position: absolute;
	bottom: 30px;
	margin: 20px;
	margin-left: 50px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 50px;
	display: none;
	z-index: 1000;
	font-family: "poppins-medium";
	font-size: 13px;
	text-align: left;
	border-radius: "10px";
	white-space: nowrap;
	color: #000000;
}

#hoverLabel {
	z-index: 1001;
}

strong {
	color: white;
}
