html,
body {
	height: 100%;
}

/* Startscreen */
.intro {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: rgb(0, 0, 0);
	font-family: "poppins-light";
	color: #d1d1d1;
}

.intro h2 {
	align-self: top;
	font-family: "poppins-bold";
	line-height: 120%;
	font-size: 4.8vw;
	width: 48%;
	margin: 0 auto;
	color: #ffffff;
}
.intro h3 {
	font-family: "poppins-bold";
	line-height: 120%;
	color: #ffffff;
}

.intro div {
	font-size: 0.8vw;
	width: 48%;
	margin: 0 auto;
}

.sources-link {
	color: #d1d1d1;
	text-decoration: underline;
}

.centerer {
	display: flex;
	width: 50%;
}

/* Menü */
.menu {
	position: absolute;
	bottom: 100%;
	left: 0;
	display: flex;
	height: 10%;
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
	font-family: "poppins-light";
	color: #d1d1d1;
	animation: slideInAnimation 1.5s ease-out 0.5s forwards;
}

@keyframes slideInAnimation {
	0% {
		bottom: -80px;
	}
	100% {
		bottom: 20px;
	}
}

.menu-item {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 5px;
	align-items: center;
}

.hoveredMenu {
	margin-top: -10px;
	transition: margin-top 0.3s ease;
}

.clickedMenu {
	border-bottom: 1px solid #ffffff;
	/* margin-top: -10px; */
}

/* Header */
.header {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;

	margin-left: 50px;
	display: flex;
	height: 20%;
	align-items: center;
	justify-content: left;
	background-color: rgb(0, 0, 0);
}

.header h2 {
	align-items: top;
	font-weight: bold;
	font-family: "poppins-bold";
	line-height: 120%;
	font-size: 50px;
	margin-right: 50px;
	color: #ffffff;
}

.header div {
	font-family: "poppins-light";
	color: #d1d1d1;
	font-size: 12px;
	width: 50%;
	margin-top: 15px;
}
